body {
    font-family: 'Inter', sans-serif;
    background-color: #c4c4c4;
}

.main_frame {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    width: 30%;
    height: 90%;
    border-radius: 50px;
    background-color: white;
}

.frame_title {
    text-align: center;
    color: #192923;
    font-weight: 800;
    font-size: 48px;
}

.entry_inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.entry_inputs input {
    margin-bottom: 25px;
    width: 85%;
    height: 1.3cm;
    border-radius: 10px;
    border-width: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

.entry_inputs input {
    padding-left: 10px;
    color: #192923;
    font-size: 20px;
    font-weight: bold;
}

.entry_inputs input::placeholder {
    color: #b2b2b2;
}

.forget_password {
    margin-right: 20px;
    align-self: flex-end;
}

.buttons {
    margin-top: auto;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    gap: 10%;
    width: 100%;
}

.button1 {
    text-align: center;
    width: 90%;
    height: 1.5cm;
    border-radius: 15px;
    border-width: 4px;
    border-color: rgba(18, 94, 80, 50%);
    border-style: solid;
    color: rgba(18, 94, 30, 50%);
    font-size: 20px;
    font-weight: bold;
    background-color: #8ff1ce;
    cursor: pointer;
}

.date-picker {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
}

select {
    display: inline-block; 
    width: 29%;
    padding: 5%;
    border-width: 0px;
    border-radius: 20px;
    cursor: pointer;
    color: #192923;
    font-size: 16px;
    font-weight: bold;
    background-color: #d9d9d9;
}

option {
    color: #192923;
}