<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="..\static\css\entry_pages.css" />
    <title>Users Management</title>

    <script>
        function updateInput(input1, input2) {
            const input1Value = document.getElementById(input1).value;
            document.getElementsByName(input2)[0].value = input1Value;
        }
        function updateDate(datePickerId) {
            const container = document.getElementById(datePickerId);
            const year = container.querySelector(".year").value;
            const month = container.querySelector(".month").value;
            const day = container.querySelector(".day").value;

            document.getElementsByName("year")[0].value = year;
            document.getElementsByName("month")[0].value = month;
            document.getElementsByName("day")[0].value = day;
        }
    </script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="main_frame">
        <p class="frame_title">{% block frame_title %}{% endblock %}</p>

        <div class="entry_inputs">{% block inputs %}{% endblock %}</div>

        {% block other %}{% endblock %}

        <div class="buttons">{% block buttons %}{% endblock %}</div>
    </div>

    {% block body %}{% endblock %}
</body>

</html>