<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="..\static\css\base.css">
    <title>Users Management</title>

    {% block head %}{% endblock %}

</head>

<body>

    <div class="navigation_bar">

        <div class="navigation_option {% if active_page == 'profile' %}active{% endif %}">
            <a href="{{ url_for('profile', id = user_id) }}">
                <p>Profile</p>
            </a>
        </div>

        <div class="navigation_option {% if active_page == 'home' %}active{% endif %}">
            <a href="{{ url_for('home') }}">
                <p>Home</p>
            </a>
        </div>

        <div class="navigation_option {% if active_page == 'users_database' %}active{% endif %}">
            <a href="{{ url_for('users_database', id = user_id) }}">
                <p>Database</p>
            </a>
        </div>

        <div class="navigation_option {% if active_page == 'about' %}active{% endif %}">
            <a href="{{ url_for('about') }}">
                <p>About</p>
            </a>
        </div>

        <div class="navigation_option {% if active_page == 'contact_us' %}active{% endif %}">
            <a href="{{ url_for('contact_us') }}">
                <p>Contact Us</p>
            </a>
        </div>

        <div class="navigation_option {% if active_page == 'log_out' %}active{% endif %}">
            <a href="{{ url_for('log_out') }}">
                <p>Log Out</p>
            </a>
        </div>

    </div>

    {% block body %}{% endblock %}

</body>

</html>