{% extends "base_entry_page.html" %}


{% block head %}

<title>Sign Up</title>

{% endblock %}


{% block frame_title %}Sign Up{% endblock %}


{% block inputs %}

<input id="email_input" type="text" placeholder="Email" oninput="updateInput('email_input', 'email')"
    value="{% if infos %} {{infos['email']}} {% endif %}" />
<input id="password_input" type="password" placeholder="Password" oninput="updateInput('password_input', 'password')"
    value="{% if infos %} infos['password'] {% endif %}" />
<input id="confirm_password_input" type="password" placeholder="Confirm Password"
    oninput="updateInput('confirm_password_input', 'confirm_password')"
    value="{% if infos %} infos['password'] {% endif %}" />

{% endblock %}

{% block other %}

{% if failed %}{{failed}}{% endif %}

{% endblock %}


{% block buttons %}

<form method="GET" action="/log-in">
    <input class="button1" type="submit" value="Go Back" />
</form>

<form method="POST" action="/sign-up/step1">
    <input name="email" type="hidden" value="{% if infos %}{{infos['email']}}{% endif %}" />
    <input name="password" type="hidden" value="{% if infos %}{{infos['password']}}{% endif %}" />
    <input name="confirm_password" type="hidden" value="{% if infos %}{{infos['password']}}{% endif %}" />
    <input class="button1" type="submit" value="Next" />
</form>

{% endblock %}